@charset "utf-8";
/* CSS Document */

#divLK247BalloonAd{overflow:hidden; position:fixed; bottom:0; z-index:2147483647 !important; display:none;}
#divLK247SlidingAd{overflow:hidden; position:fixed; bottom:0; z-index:2147483647 !important; display:none;}
#divLK247BalloonHtmlAd{position:fixed; bottom:0; z-index:2147483647 !important; display:none;}
#divLK247SlidingHtmlAd{position:fixed; bottom:0; z-index:2147483647 !important; display:none;}
#divLK247Overlay{display:none; z-index:2147483647 !important;}
#divAbdBackgroundAdRight{position:absolute; right:0; overflow:hidden; z-index:1;}
#divAbdBackgroundAdLeft{position:absolute; left:0; overflow:hidden; z-index:1;}
#divAbdBalloonAd{overflow:hidden; position:fixed; bottom:0; z-index:2147483647 !important; display:none;}
#divAbdSlidingAd{overflow:hidden; position:fixed; bottom:0; z-index:2147483647 !important; display:none;}
#divAbdOverlay{display:none; z-index:2147483647 !important;}
#divAbdPopupAd{overflow:hidden; position:fixed; bottom:0; z-index:2147483647 !important; display:none;}

#abdBalloonAdNoFlash{width:260px; height:260px; overflow:hidden; bottom:0; z-index:2147483647 !important;}
.BalloonAdHeader{width:260px; height:30px; background:url(../pic/balloon/bar.jpg) top left no-repeat; overflow:hidden;}
.BalloonAdTitle{width:216px; padding:7px 5px 0 5px; float:left; display:inline; color:#000; font-family:Arial; font-size:12px; font-weight:700;}
.BalloonAdControl{width:34px; height:30px; float:right; display:inline;}
.BalloonAdMin{background-image:url(../pic/balloon/min.png); width:17px; height:30px; float:left; display:inline;}
.BalloonAdMax{background-image:url(../pic/balloon/max.jpg); width:17px; height:30px; float:left; display:inline;}
.BalloonAdClose{background-image:url(../pic/balloon/close.jpg); width:17px; height:30px; float:left; display:inline;}
.BalloonAdImage{width:260px; height:230px; background-image: url(../pic/balloon/balloon_loading_bg.gif); background-color: #FFF;}

#abdSlidingAdNoFlash{width:400px; height:246px; overflow:hidden; bottom:0; z-index:2147483647 !important;}
.SlidingAdCenter{width:370px; height:246px; float:left; display:inline;}
.SlidingAdImage{width:370px; height:246px; background-image: url(../pic/sliding/sliding_loading_bg.gif); background-color: #FFF;}
.SlidingAdRight{width:30px; height:246px; float:left; display:inline;}
.SlidingAdBarMax{width:30px; height:223px; float:left; display:inline; background:url(../pic/sliding/bar_max.jpg) bottom left no-repeat;}
.SlidingAdBarMin{width:30px; height:223px; float:left; display:inline; background:url(../pic/sliding/bar_min.jpg) bottom left no-repeat;}
.SlidingAdMin{background-image:url(../pic/sliding/min.jpg); width:30px; height:23px; float:left; display:inline;}
.SlidingAdClose{background-image:url(../pic/sliding/close.jpg); width:30px; height:23px; float:left; display:inline;}