<html>
<head>
    <title>Register</title>
</head>
<body>
    <form action="[% c.uri_for(c.controller('Root').action_for ('register')) %]" method="post">
        <!-- [% IF err %][% err %][% END %] -->
        <div>
        <label>User Name: </label>
        </div>
        <div>
        <input type="text" name="user_name"/>
        [% IF errors.user_name %]
            <span style="color: red;">[% errors.user_name %]</span>
        [% END %]
        </div>
        <div>
        <label>Email: 
            <input type="text" name="user_email"/>
        </label>
        [% IF errors.user_email %]
            <span style="color: red;">[% errors.user_email %]</span>
        [% END %]
        </div>
        <div>
        <label>Password: 
            <input type="password" name="password"/>
        </label>
        </div>
        <input type="submit" value="Create"/>
        <div>
        [% IF errors.user_regist %]
            <span style="color: red;">[% errors.user_regist %]</span>
        [% END %]
        </div>
    </form>
</body>
</html>

